<h1>About Us</h1>
<article>
  The Jungle Website was founded in 1983, simultaneous to the rise of the internet, and since then we've been scouring the globe to find you the weirdest and wildest<br>
  knick-knacks, thing-a-ma-jigs or whatsy-dooz-its. Our goal is to shed light on those items that seem to always get lost deep in our attics or basements, and hope to<br>
  find them proper homes with commited caregivers. 
</article>
